<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/assets/style.css">
    </head>
    <body>
        <table>
        {% for user in users %}
            <tr>
                <td width="25%"><img src="{{ user.avatar }}"/></td>
                <td width="75%">
                    <a href="{{ user.profile_link }}"><b>{{ user.first_name }}
                        {{ user.last_name }}</b></a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>