{% extends "layouts/forms.html" %}

{% block title %}Create Bloc Job{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

    <!-- Load our React component. -->
    <!--<script type="module" src="/static/scripts/project_creation_form.js"></script>-->
    <!--<script type="module" src="/static/scripts/submit_button.js"></script>-->
    <script type="text/jsx" src="/static/scripts/project_creation_form.js">

    </script>

    <div id="content"></div>

    <div class="container">
        <form method="POST" action="/create-job" id="form">
            <input type="hidden" value="{{ user_id }}" name="user_id"/>

            <div class="row">
                <div class="col-25">
                    <label for="title">Title</label>
                </div>
                <div class="col-75">
                    <input type="text" id="title" name="title"
                           placeholder="Title">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="description">Description</label>
                </div>
                <div class="col-75">
                    <textarea id="description" name="description"
                              placeholder="What does the job entail?"
                              style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="duration">Duration</label>
                </div>
                <div class="col-25">
                    <select name="duration">
                        {% for duration in job_durations %}
                            <option value="{{ duration }}">{{ duration }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="location">Location</label>
                </div>
                <div class="col-75">
                    <input type="text" id="location" name="location"
                           placeholder="Location (ex. 'Los Angeles, California', 'REMOTE')">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="salary_currency">Salary</label>
                </div>
                <div class="col-25">
                    <select id="salary_currency" name="salary_currency">
                        {% for currency in currencies %}
                            <option>{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-25">
                    <input type="number" id="min_salary" name="min_salary"
                           placeholder="10000">
                </div>
                <div class="col-25">
                    <input type="number" id="max_salary" name="max_salary"
                           placeholder="20000">
                </div>
                <div class="col-25">
                    <select id="salary_interval" name="salary_interval">
                        {% for interval in salary_intervals %}
                            <option value="{{ interval }}">
                                Per {{ interval }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="bloc">Bloc</label>
                </div>
                <div class="col-75">
                    <select id="bloc" name="bloc_name">
                        {% for bloc in blocs %}
                            <option value="{{ bloc.name }}">
                                {{ bloc.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit" id="submit_button">
            </div>
        </form>
    </div>

{% endblock %}
